.header {
  text-align: center;
}

.center-col {
  background: lightblue;
}

.resultIsPalindrome {
  background: green;
  color: white;
  font-weight: bold;
  text-align: center;
}

.resultNotPalindrome {
  background: red;
  color: white;
  font-weight: bold;
  text-align: center;
}